<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <!--当前服务器名称 对应 servers.xml-->
    <add key="ServerName" value="s1"/>


    <!--备份服务器列表-->
    <add key="Servers" value="/servers.xml.config"/>

    <!--当前服务器安全密钥-->
    <add key="SecurityKey" value="asdfdsfsdf"/>

    <!--日志所在目录-->
    <add key="Log" value="/log"/>


    <!--当前服务器域名-->
    <add key="Domain" value="http://i-2.xx.com"/>


    <add key="WaterMarkPath" value="/wm" />

    <add key="CachePath" value="/cache" />
    
  </appSettings>
  <!--
    有关 .NET 4.5 的 web.config 更改的说明，请参见 http://go.microsoft.com/fwlink/?LinkId=235367。

    可在 <httpRuntime> 标记上设置以下特性。
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->


  <system.webServer>

    <rewrite>
      <rules>

        <!--防盗链|白名单列表-->
        <rule name="WhiteList" stopProcessing="true">
          <match url="/.*" />
          <action type="CustomResponse" statusCode="404" statusReason="not found" statusDescription="not found" />
          <conditions>
            <add input="{HTTP_REFERER}" pattern="^$" negate="true" />
            <add input="{HTTP_REFERER}" pattern="^http\://.*(so|360|qq|baidu)\.(com|cn).*$" negate="true" />
          </conditions>
        </rule>


        <!--动态输出图片-->
        <rule name="dynamicecho">
          <match url="^(\d+)/(\d+)/(\d+)/([\w\=]+)/([^/]+)$" />
          <action type="Rewrite" url="/do.ashx?action=dynamicecho&amp;path=/{R:1}/{R:2}/{R:3}/&amp;base64={R:4}&amp;name={R:5}" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
          </conditions>
        </rule>





      </rules>
    </rewrite>


  </system.webServer>

  <system.web>
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.5"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
</configuration>